.coin-page {
    max-width: 1800px;
    margin: 0 auto;
}

.card {
    border-radius: 0.75rem;
    border: none;
    background: rgba(255,255,255,0.95);
    color: #243746;
}

.table-responsive {
    overflow-x: auto;
}

.btn {
    transition: all 0.2s;
}

.btn:hover {
    transform: translateY(-1px);
}

.btn-currency {
    padding: 6px;
    transition: 0.2s;
    margin-left: 20px;
}

.btn-currency img {
    width: 28px;
}